* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/backgr.png'), linear-gradient(to top, #161021 0%, #402a4e 100%);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

.member {
    margin: 150px auto;
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px 15px 0px;
}

.member-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #f5ebff;
}

.member-container {
    display: flex;
    justify-content: center;
}

section {
    padding: 10px 0px;
    width: 100%;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem 0rem;
}

.radio-inputs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    background-color: #b37ee8;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.16);
    padding: 0.25rem;
    font-size: 14px;
    margin: 10px 0px;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border: none;
    padding: .5rem 0;
    color: #2a1c3f;
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #f5ebff;
    font-weight: 600;
}

.radio:active {
    transform: scale(0.95);
}

.logout-container {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 2rem;
    background-color: #f5ebff;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.16);
    padding: 0.25rem;
    font-size: 14px;
    margin: 10px 0px;
}

.logout-style {
    flex: 1 1 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 800;
    background-color: #f5ebff;
    color: #dc3545;
    padding: .5rem 0;
    border-radius: 2rem;

    i {
        font-size: 15px;
    }
}

.logout {
    font-size: 12px;
}

.logout-style:active {
    transform: scale(0.95);
}
.content-section {
    display: none;
}

.content-section:target {
    display: block;
}

/*個人資訊*/
.profile {
    width: 100%;
    background: rgba(147, 126, 179, 0.5); /* 半透明背景 */
    padding: 5px 0px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* 添加模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 兼容 Safari */
    p {
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        color: #f5ebff;
    }
}

.profile-picture img {
    display: flex;
    margin: 20px auto 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.form-label label {
    margin-bottom: 5px;
    color: #f5ebff;
    font-size: large;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[readonly] {
    background-color: #f5f5f5; 
    color: #2a1c3f; 
}


button {
    padding: 10px 15px;
    background-color: #b37ee8;
    color: #f5f5f5;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

button:active {
    transform: scale(0.95);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.button-container button {
    margin-left: 10px;
}

#cancelButton {
    background-color: #dc3545;
}

#cancelButton:hover {
    background-color: #c82333;
}

#saveButton {
    background-color: #28a745;
}

#saveButton:hover {
    background-color: #218838;
}

/* 購買紀錄 */
.product-info {
    width: 90%;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: flex;
    justify-content: center;
}

.product-info .product-details p {
    padding: 1.7rem 1px;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 15px;
}

.product-info table {
    width: 100%;
    border-collapse: collapse;
}

.product-info th,
.product-info td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-info th {
    background-color: #f4f4f4;
}

.product-info img.product-image {
    width: 70px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: .5rem;
}

.product-info .product-details {
    display: inline-block;
    vertical-align: top;
}

.product-info .quantity-input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment {
    display: flex;
    justify-content: center;
}

.reviews-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-width: 500px; */
    width: 90%;
}

.detailed-ratings,
.individual-reviews {
    margin-bottom: 10px;
}

.review {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.review img {
    width: 15%;
    border-radius: .5rem;
}

.review span {
    font-size: 14px;
    color: #666;
}

.review p {
    font-size: 14px;
    color: #333;
    margin: 0;
}