* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin-top: 90px;
    padding: 0;
    background-color: #2D2D2D;
    color: #ffffff;
}

#nav-placeholder {
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;
}

main {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.6rem;
}

.ad {
    background-color: white;
    grid-column: 1 / span 4;
    border-radius: 30px;
    height: 400px;
}

.ad img {
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.product {
    height: 16rem;
    border-radius: 30px;
    background-color: #e6e6e6;
}

.productGrid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.productGrid .img-container {
    height: 70%;
    opacity: 0.2;
    position: absolute;
}


.product-desc .desc {
    visibility: hidden;
}

.productGridWide .product-desc .desc {
    visibility: visible;
}

.productGridWide {
    grid-column: 1 / span 4;
}

.productGridWide .img-container {
    height: 250px;
}

.customize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.product img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-desc {
    z-index: 2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
}

.product-desc .title {
    font-weight: 600;
    font-size: 38px;
}

.product-desc .desc {
    font-weight: 600;
    margin-bottom: 6px;
}

.product-desc .stock {
    font-size: 14px;
    margin-bottom: 12px;
}

.customize .product-desc {
    height: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.buy-section {
    width: fit-content;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.buy-button {
    width: max(9vw, 10rem);
    height: 30px;
    background-color: #8c65ed;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all .3s;
}

.buy-button:hover {
    background-color: #8c65ed;
    color: #fff;
    font-weight: bold;
    scale: 1.05;
}

.cart-image {
    z-index: 1;
    position: absolute;
    text-align: center;
    left: 10%;
    width: 28px;
}

.customize .buy-button {
    width: 200px;
    height: 50px;
    background-color: #8c65ed;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.customize .product-desc {
    align-items: start;
}

@media screen and (max-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 8px;
        width: auto;
    }

    .ad {
        width: 100%;
        height: 32vh;
        border-radius: 0;
    }

    .product {
        height: auto;
        width: 12rem;
        border-radius: 15px;
    }

    .productGrid:nth-child(6n+2),
    .productGrid:nth-child(6n+7) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #D9D9D9;

        .img-container {
            height: 70%;
            opacity: 0.2;
            position: absolute;
        }

        .buy-section {
            justify-content: center;
        }

        .product-desc {
            align-items: center;

            .desc {
                visibility: hidden;
            }
        }
    }

    .product-desc .title {
        font-size: min(max(3.5vw, 20px), 22px);
    }

    .buy-button {
        width: max(9vw, 64px);
    }

    .productGridWide {
        width: 100%;
        border-radius: 0;
    }

    .cart-image::before {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .footer {
        height: 150px;
    }
}