* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
    
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url('../img/backgr.png'), linear-gradient(to top, #161021 0%, #402a4e 100%);
    background-size: cover, cover; /* 确保两层背景都覆盖 */
    background-position: center, center; /* 背景居中 */
    background-repeat: no-repeat, no-repeat; /* 防止背景重复 */
    background-attachment: fixed; /* 背景固定，适应滚动 */
    display: flex;
    flex-direction: column; /* 垂直布局，包括标题和内容 */
    align-items: center; /* 水平居中 */
    overflow-y: auto; /* 允许页面滚动 */
    cursor: url("../img/mouse/mouse2.png") 16 16, auto;
  
}

.title{
    text-align: center;
    margin-top: 30px;
}
  
.container{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

.icon{
    width: 30px;
    cursor: pointer;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listProduct .item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 50px 0;
    
}

.listProduct .item{
    background-color: #f5ebff;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.listProduct .item h2{
    font-size: 25px;
    padding: 5px;
    color: #11052f;
}

.listProduct .item .price{
    letter-spacing: 3px;
    font-size: 15px;
    color: #11052f;

}

.listProduct .item button{
    background-color: #503a8e;
    color: #eee;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.cartTab{
    width: 400px;
    background-color: #161617;
    color: #eee;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab{
    inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab h1{
    padding: 10px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #998bbc;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #f5ebff;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    text-align: center;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}
 
/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}