* {
    font-family: 'Noto Serif TC', serif;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.nav-title {
    position: relative;
    width: 30%;
    margin-right: 35%;
    font-size: 15px;
}

.header {
    background-color: #723e9a;
    color: white;
    padding: 1.5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.header-logo {
    max-width: 50px;
    margin-top: -2%;
    margin-bottom: -2%;
}

.header-options {
    display: flex;
    margin-left: 30%;
}

.header-links {
    display: flex;
    margin-right: 20%;
}

.header-links a,
.header-options a {
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.header-links>a:hover {
    text-decoration: underline;
}

footer {
    background-color: #723e9a;
    color: white;
    text-align: center;
    padding: 1%;
    bottom: 0;
    width: 100%;
    height: fit-content;
}

.name {
    position: relative;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-name>li>a:hover {
    text-decoration: underline;
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.subname li a {
    background-color: #955cb4;
    border: 0.1px solid gray;
    line-height: 70px;
    font-size: 13px;
    padding: 0 15px;
    width: 30px;
    height: 65px;
}


.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    display: block;
    line-height: 30px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
}

.nav-name .name:hover ul {
    display: block;
}

.tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.tab_css input {
    display: none;
}

.tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #764789;
    color: #fff;
    opacity: 0.5;
}

.tab_content {
    order: 1;
    display: none;
    width: 100%;
    border-bottom: 3px solid #ddd;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tab_css input:checked+label,
.tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_css input:checked+label+.tab_content {
    display: initial;
}

.orders {
    text-align: left;
    margin-left: 10%;
}

.orders p {
    text-align: left;
}

.orders-type {
    text-align: left;
    font-size: 17px;
}

.history-orders {
    margin-top: 2%;
    color: black;
    text-decoration: none;
}

.his-order {
    color: gray;
}

.history-info {
    display: flex;
    line-height: 15px;
}

.history-info img {
    width: 8%;
    height: 8%;
}

.history-orders-top hr {
    width: 90%;
    line-height: 1.6;
    font-size: 2em;
    border: 20px solid rgba(221, 221, 221, 0.698);
    margin-left: 0%;
}

.history-orders hr {
    width: 90%;
    line-height: 1.6;
    font-size: .9em;
    border: 1px solid #ddd;
    margin-left: 0%;
}

.history-information-text {
    margin-left: 2%;
}

.history-text {
    display: flex;
    margin-top: 2.5%;
    margin-left: 50%;
    font-size: 17px;
}


.member {
    text-align: left;
    margin-left: 10%;
}

.profile {
    display: flex;
    margin-left: 10%;
    margin-top: 6%;
}

.profile img {
    width: 13%;
    height: 13%;
    border-radius: 50%;
}

.profile input {
    margin-left: 10px;
    padding: 5px;
    font-size: 14px;
}

.profile-info {
    margin-left: 8%;
    margin-top: -7%;
}

.profile-info-bold {
    display: flex;
    border: 5px;
}

.profile-info-bold-input {
    margin-top: 4%;
    height: 15px;
}

.cart {
    display: inline-block;
    width: 10%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 70%;
    background-color: #7e5297;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 1%;
}

h3 {
    text-align: center;
    margin-left: 50%;
}

.profile-info hr {
    width: 245%;
    text-align: left;
}

.review {
    display: flex;
}

.review img {
    width: 5%;
    height: 5%;
}

.review-info {
    margin-left: 1%;
    line-height: 50%;
    margin-top: -0.5%;
}

.review-detail {
    margin-left: 6%;
    border: 0.05px solid gray;
    padding: 1%;
    width: 81%;
}


.orders hr {
    width: 90%;
    margin-left: 0%;
}

.review-detail hr {
    width: 100%;
}