* {
    font-family: 'Noto Serif TC', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.nav-title {
    position: relative;
    width: 30%;
    margin-right: 35%;
    font-size: 15px;
}

.header {
    background-color: #47896e;
    color: white;
    padding: 1.5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.header-logo {
    max-width: 50px;
    margin-top: -2%;
    margin-bottom: -2%;
}

.header-options {
    display: flex;
    margin-left: 30%;
}

.header-links {
    display: flex;
    margin-right: 20%;
}

.header-links a,
.header-options a {
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.header-links>a:hover {
    text-decoration: underline;
}

footer {
    background-color: #47896e;
    color: white;
    text-align: center;
    padding: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin-top: auto;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.name {
    position: relative;
}

.nav-name {
    display: flex;
    justify-content: space-evenly;
}

.nav-name>li {
    float: left;
}

.nav-title li {
    list-style: none;
    position: relative;
}

.nav-title ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-name>li>a:hover {
    text-decoration: underline;
}

.subname {
    display: block;
    position: absolute;
    z-index: 2;
}

.subname li a {
    background-color: #47896e;
    border: 0.1px solid gray;
    line-height: 70px;
    font-size: 13px;
    padding: 0 15px;
    width: 30px;
    height: 65px;
}

.subname li a:hover {
    background-color: rgb(172, 172, 172);
}

.nav-name a {
    text-decoration: none;
    color: inherit;
    display: block;
    line-height: 30px;
    font-family: 'Noto Serif TC', serif;
}

.nav-name ul {
    display: none;
}

.nav-name .name:hover ul {
    display: block;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.container {
    text-align: center;
    text-decoration: none;
    margin-top: -1%;
}

.container a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.signup {
    text-align: center;
    text-decoration: none;
}

.signup a {
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

button {
    width: 95%;
}